<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<param name="File" value="Log.txt" />-->
      <param name="File" value="C:\temp\OurCRMToolLog.txt" />
      <!--<param name="File" value="${AppData}\OurCRMToolLog.txt" />-->
      
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="logFileName" value="" />
    <add key="logLevel" value="10" />
    <add key="logTimeFormat" value="true" />
    <add key="Dev_Is_Online" value="0" />
    <add key="Auto_URI_Dev" value="" />
    <add key="Auto_Username_Dev" value="" />
    <add key="Auto_Domain_Dev" value="" />
    <add key="Auto_pass_Dev" value="" />
    <add key="QA_Is_Online" value="0" />
    <add key="Auto_URI_QA" value="" />
    <add key="Auto_Username_QA" value="" />
    <add key="Auto_Domain_QA" value="" />
    <add key="Auto_pass_QA" value="" />
    <add key="logLevel=" value="=0" />
    <add key="logTimeFormat" value="dd-MM-yyyy" />
  </appSettings>
</configuration>

